body {
  background-color: #000;
  color: #00ff00;
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
  margin: 0; /* Menghapus margin default */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Memastikan body setidaknya setinggi layar */
}

.container {
  max-width: 800px;
  margin: auto;
  flex-grow: 1; /* Membuat konten utama mengisi ruang yang tersedia */
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  margin: 20px 0;
  background-color: #111;
  color: #0f0;
  border: 1px solid #0f0;
  font-size: 16px;
}

pre {
  background-color: #111;
  padding: 20px;
  border: 1px solid #0f0;
  overflow-x: auto;
  white-space: pre-wrap;
  min-height: 100px; /* Membuat pre memiliki minimal tinggi */
}

/* Styling untuk footer */
footer {
  background-color: #111;  /* Warna latar belakang footer */
  color: #0f0;             /* Warna teks footer */
  text-align: center;      /* Teks di tengah */
  padding: 10px 0;         /* Spasi atas dan bawah */
  font-size: 14px;         /* Ukuran font */
  width: 100%;             /* Lebar footer sesuai dengan lebar halaman */
  position: relative;      /* Memastikan footer berada di bawah */
}
