/* Reset Margin dan Padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tampilan Umum */
body {
  background-color: #000;
  color: #00ff00;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden; /* Menyembunyikan scroll horizontal */
  overflow-y: auto;   /* Scroll vertikal diaktifkan */
}

/* Animasi fade-in */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  max-width: 600px; /* Membatasi lebar container */
  margin: auto;
  flex-grow: 1;
  animation: fadeIn 1s ease-out;
}

input[type="text"] {
  width: 100%;
  max-width: 400px; /* Membatasi lebar kotak pencarian */
  padding: 12px;
  margin: 20px 0;
  background-color: #111;
  color: #0f0;
  border: 1px solid #0f0;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

pre {
  background-color: #111;
  padding: 20px;
  border: 1px solid #0f0;
  overflow-x: auto;
  white-space: pre-wrap;
  animation: fadeIn 1s ease-out;
}

/* Footer */
footer {
  background-color: #111;
  color: #0f0;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  width: 100%;
  position: relative;
  margin-top: auto;
}

/* Notifikasi IP */
.ip-notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #111;
  color: #0f0;
  padding: 10px 20px;
  border: 1px solid #0f0;
  border-radius: 5px;
  animation: fadeIn 2s ease-out;
  z-index: 1000; /* Pastikan tetap di atas elemen lainnya */
}

/* Pastikan tidak bisa digeser */
body {
  overflow-x: hidden;
}

#user-ip {
  font-weight: bold;
}
